.space50 {
  margin-right: 50px;
  line-height: 20px;
  border-top: 2px solid transparent;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.space50-active{

  color: black;
  border-top: 2px solid black;
}
.user-title {
  margin-top: 15px;
  margin-bottom: 15px;
}