.space50 {
  margin-right: 50px;
  line-height: 20px;
  border-top: 2px solid transparent;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.space50-active{

  color: black;
  border-top: 2px solid black;
}
.user-title {
  border-top: 2px solid darkgray;
  text-align: center;
  margin: 15px auto 15px;
}